In [8]:
import pandas as pd
import pyarrow
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

We will start comparing spacecraft from both universes with this notebook.

In [9]:
# Read in spacecraft from Star Trek

sts = pd.read_parquet('../WPscraped/StarTrek_Spacecraft.parquet')

# Read in spacecraft classes for Star Trek to add to the spacecraft

stsc = pd.read_parquet('../WPscraped/StarTrek_Spacecraft_Classes.parquet')

# Read in spacecraft from Star Wars which will need to be cleaned to only spacecrafts

sws = pd.read_parquet('../WPscraped/StarWars_Vehicles.parquet')

In [10]:
# view sts
sts.info()
sts.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1443 entries, 0 to 1442
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             1443 non-null   object
 1   spacecraftClass  610 non-null    object
dtypes: object(2)
memory usage: 22.7+ KB

     name                                   spacecraftClass
0     042   {'name': 'Worker bee', 'uid': 'SCMA0000226396'}
1     208     {'name': 'Jumpship', 'uid': 'SCMA0000175103'}
2   313-C                                              None
3       5                                              None
4  ATW-11  {'name': 'UFP-02 type', 'uid': 'SCMA0000276004'}

In [11]:
# view stsc
stsc.info()
stsc.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 727 entries, 0 to 726
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           727 non-null    object
 1   numberOfDecks  33 non-null     float64
 2   warpCapable    727 non-null    bool
 3   species        412 non-null    object
dtypes: bool(1), float64(1), object(2)
memory usage: 17.9+ KB

,name,numberOfDecks,warpCapable,species
0,Abronian ship,NaN,False,"{'name': 'Abronian', 'uid': 'SPMA0000274634'}"
1,Academy trainer craft,NaN,False,None
2,Aeroshuttle,NaN,False,None
3,Agena target vehicle,NaN,False,None
4,Akira class,NaN,False,None

In [13]:
# view sws
sws.info()
sws.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049 entries, 0 to 1048
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   vehicle_name  1049 non-null   object
 1   manufacturer  1049 non-null   object
 2   model         1049 non-null   object
 3   class         1049 non-null   object
 4   length        1049 non-null   object
 5   crew          1049 non-null   object
 6   owner(s)      1049 non-null   object
 7   affiliation   1049 non-null   object
dtypes: object(8)
memory usage: 65.7+ KB

,vehicle_name,manufacturer,model,class,length,crew,owner(s),affiliation
0,"""Changeling"" Mark 71NB",Ravager Mechanics,"""Changeling"" Mark 71NB",Racing starfighter,None,2,None,"['Ace Squadron', 'Colossus resistance']"
1,125-Z treadspeeder bike,Aratech-Loratus Corporation,125-Z treadspeeder bik,Speeder,4.17 meters,1,None,"['First Order', 'Resistance']"
2,49AX3,None,Dreadnought-class heavy cruiser,Heavy cruiser,None,None,None,"['Galactic Empire', 'Alliance to Restore the R..."
3,614-AvA speeder bike,Aratech Repulsor Company,614-AvA,Speeder bike,4.4 meters,['Pilot'],None,"['Galactic Empire', 'Lothal resistance group',..."
4,712-AvA speeder bike,Aratech Repulsor Company,712-AvA,Speeder bike,None,None,None,None
5,720 light freighter,Ghtroc Industries,720,Light freighter,None,2,None,Citizens' Fleet
6,74-Z speeder bike,Aratech Repulsor Company,74-Z speeder bike,Speeder bike,3.3 meters,Pilot,None,"['Galactic Republic', 'Galactic Empire', 'Impe..."
7,773,Rothana Heavy Engineering,All Terrain Tactical Enforcer,Walker,22.02 meters,None,None,"['Galactic Republic', 'Carnivore Battalion']"
8,A-A4B truckspeeder,Trast Heavy Transports,A-A4B,['Landspeeder'],None,Pilot,None,White Worms
9,A/SF-01 B-wing starfighter,Slayn & Korpil,A/SF-01 B-wing starfighter,Heavy assault starfighter,16.9 meters,Pilot,None,"['Phoenix Cell', 'Alliance to Restore the Repu..."
10,AA-9 Freighter-Liner,Botajef Shipyards,AA-9 Freighter-Liner,Freighter,390 meters,None,None,"['Galactic Republic', 'Grand Army of the Repub..."
11,AAL-1971/9.1 Troop Transport,Sienar-Jaemus Army Systems,AAL-1971/9.1,Troop transport,17.83 meters,"['1 pilot', '1 gunner']",None,"['First Order', 'First Order Navy', 'Resistanc..."
12,Aayla Secura's Eta-2 Actis-class light interce...,Kuat Systems Engineering,Eta-2 Actis-class light interceptor,Starfighter,5.47 meters,"['Pilot', 'Astromech droid']",Aayla Secura,None
13,Absolution,Kuat-Entralla Engineering,Resurgent-class Star Destroyer,"['Battlecruiser', 'Star Destroyer']","['2', '915.81 meters']","['First Order officers', 'Enlisted', 'Stormtro...",None,"['First Order', 'First Order Academy']"
14,Acclamator I-class Assault Ship,None,Acclamator I-class Assault Ship,Assault ship,None,None,None,"['Galactic Republic', 'Galactic Republic Navy']"